/node_modules/
/.pnp/
.pnp.js

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/build/
/dist/
dist-ssr
/.out/
/.next/
/.nuxt/
/.svelte-kit/ 
/storybook-static/

*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

*.pem
*.key
*.cer

.aws/
.gcloud/

*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

*.dmp
*.dump

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

.idea/

*.sublime-project
*.sublime-workspace

.atom/

*~
*.swp
*.swo

.project
.classpath
.settings/

/coverage/
.nyc_output/
/jest-cache/

/cypress/videos/
/cypress/screenshots/

/test-results/
/playwright-report/

*.lighthouse.report.html

/docs/
/out-docs/

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.nx/cache
/tmp/

*.tmp
*.temp
*.zip
*.tar
*.gz
*.tmp
*.swp
*.swo